body{
    height: 200vh;
}
#section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}
.contents{
    width: 300px;
    height: 100%;
    text-align: center;
    line-height: center;
    margin-right: 10px;
    opacity: 0;
    transition: all .5s ease;
}
.up{
    /* y 좌표를 아래쪽으로 100px 만큼 내린다 */
    transform: translate(0, 100px); 
}
.down{
    /* y 좌표를 아래쪽으로 100px 만큼 올린다 */
    transform: translate(0, -100px); 
}
.left{
    /* y 좌표를 아래쪽으로 100px 만큼 올린다 */
    transform: translate(-100px, 0); 
}
.right{
    /* y 좌표를 아래쪽으로 100px 만큼 올린다 */
    transform: translate(100px, 0); 
}
.show{
    opacity: 1;
    transform: none;
}